.T1{
    color: #2646A2;
    font-size: 50px;
}
.T2{
    color: #eb0b0b;
    font-size: 50px;
}
.T2{
    color: #59803a;
    font-size: 50px;
}
.T3{
    color: #67a6A2;
    font-size: 50px;
}
.T4{
    color: #7c6a06;
    font-size: 50px;
}
.T5{
    color: #087a5e;
    font-size: 50px;
}